@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: auto;
	background: url("../images/bg_ProblemFeedback.png") no-repeat fixed;
	background-size: cover;
}
.header{
	width: 100%;
	height: 60px;
	background-color: #000000;
	position: fixed;
	z-index: 20;
}
	#headlogo{
		float: left;
		position: relative;
		left: 30px;
		top: 10px;
	}
	.header li{
		line-height: 60px;
		font-size: 20px;
		list-style: none;
		display:inline-block;
		position: relative;
		left: 100px;
		margin-left: 50px;
	}
	a{
		color: #FFFFFF;
	}
		a:link,a:visited{
			text-decoration: none;
		}
		a:hover{
			color:#DA292A;
		}
	.sign_in{
		float: right;
		position: relative;
		right: 30px;
		top: 10px;
		font-size: 20px;
		border-style: solid;
		padding: 3px 6px;
		border-radius: 10px;
	}
	.select{
		background-color: white;
		color: black;
		padding: 5px;
		border-radius: 10px;
		}

.header2{
	width: 100%;
	height: 50px;
	background-color: #BABABA;
	top: 60px;
	position: absolute;
	z-index: 10;
}
	.header2 li{
		line-height: 50px;
		font-size: 17px;
		list-style: none;
		display:inline-block;
		position: relative;
		left: 130px;
		margin-left: 90px;
	}
	.header2 a{
		color: #FFFFFF;
	}
		.header2 a:link,a:visited{
			text-decoration: none;
		}
		.header2 a:hover{
			color:#000000;
		}
	.select2{
		background: #7D7D7D;
		color: black;
		padding: 5px;
		border-radius: 10px;
	}



.alter{
	width: 80%;
	height: auto;
	margin: 200px auto;
	float: left;

}
.alter p{
	font-size: 20px;
}
form{
	margin: 0 auto;
	left: 40%;
	position: relative;
}