@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 60px;
	background-color: #000000;
	position: fixed;
	z-index: 10;
}
	#headlogo{
		float: left;
		position: relative;
		left: 30px;
		top: 10px;
	}
	.header li{
		line-height: 60px;
		font-size: 20px;
		list-style: none;
		display:inline-block;
		position: relative;
		left: 100px;
		margin-left: 50px;
	}
	a{
		color: #FFFFFF;
	}
		a:link,a:visited{
			text-decoration: none;
		}
		a:hover{
			color:#DA292A;
		}
		.sign_in{
			float: right;
			position: relative;
			right: 30px;
			top: 10px;
			font-size: 20px;
			border-style: solid;
			padding: 3px 6px;
			border-radius: 10px;
		}
		.select{
			background-color: white;
			color: black;
			padding: 5px;
			border-radius: 10px;
		}


.main{
	width: 100%;
	height: 3000px;
	background: url("../images/背景3.jpg") no-repeat fixed;
	background-size: cover;
}
.main p{
	font-size: 20px;
}

.banner{
	width: 100%;
	height: 482px;
	background: url("../images/冬季活动.jpg") no-repeat;
	background-size: cover;
	position: relative;
}
.introduction{
	width: 40%;
	height: 300px;
	color:#000000;
	font-size: 24px;
	position: absolute;
	left: 50px;
	top: 100px;
	line-height: 50px;
}

.description{
	width: 80%;
	height: 2500px;
	margin: 40px auto;
	line-height: 35px;
}

.v2{
	width: 100%;
	height: 630px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.v2 video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}